<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HdrHistogram" version="2.5.0" targetFramework="net452" />
  <package id="Neo4j.Driver" version="1.6.0-beta01" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="TimeZoneConverter" version="2.3.1" targetFramework="net452" />
</packages>